.main-container{
    height: auto;
}
.dash{
    padding: 16px;
}
.dashboard-space{  
    padding: 16px;
}

.card-size{
   width: 200px;
    height: auto;
    text-align: center;
    text-decoration: dashed;
}
h2{
    padding: 16px;
}
.table-size{
    width: 1120px;
}

.sidenav{
    padding: 30px;
    width: 500px;
    height: auto; 
}
.controller{
    display: flex;
    justify-content: space-around;
}
.data-table{
    margin-top: 40px;
    padding: 16px;
}
.col-xs > *{
    padding: 0px !important;
}

.icons{
    display: flex;
    gap: 20px;
}